body {
    background: #e6e2b7; 
    width: 100%;
}

.eu {
    text-align: center;
    border: 5px solid #f6f3dc;
    margin: 2px 390px 2px 390px;
    background-color: #f3efcc;
}

.tracking-in-expand {
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 35px;
    color: rgb(252, 244, 179);
    background-color: rgba(208, 180, 70, 0.751);
    margin: 25px 85px 5px 85px
}   

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) ;
	        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) ;
}

 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  

#sobremim {
    font-family: "Bebas Neue";
    font-size: 20px
}

.formulario {
    text-align: center;
    background-color: rgba(208, 180, 70, 0.751);
    padding-bottom: 17px;
    margin-right: 15px;
    margin-left: 15px;
}

button {
position: absolute;
right: 10px;  
}

.modoescuro {
  background-color: rgb(54, 57, 56);

}

.modoescuroEu {
  background-color: rgb(107, 107, 107);
  color: #fff;
  border: 5px solid #313131;

}

.margem {
  background-color: rgb(84, 84, 84);
  color: #bdbdbd
} 

.rodape {
  background-color: #272727;
}